html {
  font-size: 62.5%;
  font-family: "游ゴシック", "Meiryo UI", system-ui;
}

.bg{
  background-image: url("https://images.unsplash.com/photo-1600627165645-ef301901ffb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.title {
  font-size: 3.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  word-break: break-all;
  color: #353635;
  padding: 2rem 0 2rem 0;
  border-radius: 30px;
  background: #bbd929;
  align-items: center;
}

.intro{
  color: #333333;
  text-align: center;
}

.msg{
  font-size: 1.8rem;
  padding: 2rem 0 1rem 1rem;
}

.end{
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  padding-top: 1rem;
}

#endimg{
  width: 50rem;
  text-align: center;
}

.home{
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.h2_1 {
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
  word-break: break-all;
  padding: 3px 20px;
  color: #333333;
  border-radius: 30px 30px 30px 30px;
  background: #bbd929;
}

h3{
  font-size: 1.5rem;
  padding-top: 4rem;
  text-align: center;
}

h3.top {
  padding-top: 1rem;
}

 .bubble {
   width: 100%;
 }

.button02 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1em 2em;
  width: 20rem;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

#button5 {
  margin-top: 2rem;
}

.button02 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button02 a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.4rem;
  color: whitesmoke;
  background-color: #666666;
  width: 100%;
  padding: 2px 0 0 0;
}

ol {
    list-style: none;
    margin-left: 10px;
    padding-bottom: 20px;
}

li {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-left: 10px;
    position: relative;
}

.no{
    padding: 0 0.5rem 0 0.5rem;
    background:linear-gradient(transparent 52%,#ffe433 0);
}

ul {
  font-size: 1rem;
  margin-left: 40px;
}

div p{
  padding-left: 25px;
  font-size: 1.5rem;
}

.page2 {
  font-size: 1.3rem;
  padding-left: 4.5rem;
  padding-bottom: 2rem;
}

#persona {
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-bottom: 2px;
}

iframe {
  align-items: center;
  background-color: #b3e3d4;
  padding: 1rem 0;
  border-radius: 25px;
}